.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-icon {
  margin-bottom: 1rem;
}

.file-drop-area {
  width: 100%;
  height: 150px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.drop-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.drop-text {
  margin-bottom: 0.5rem;
}

.uploaded-file {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.file-name {
  font-size: large;
  font-style: italic;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.cancel-icon {
  color: red;
  font-size: 1.5rem;
}

.file-drop-area.drag-over {
  border-color: #2196f3;
  background-color: #f0faff;
}

.browse-button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 0.5rem;
}
