  <table>
    <thead>
      <tr>
        <th style="width: 30%">Name</th>
        <th style="width: 30%">Type</th>
        <th style="width: 30%">Action</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subset of subsets">
        <td>{{subset.name}}</td>
        <td>{{subset.type}}</td>
        <td>{{subset.action}}</td>
      </tr>
    </tbody>
  </table>
<button mat-raised-button color="primary" type="reset" (click)="onClick()">Add subset</button>
  
  <!-- <table #matTable mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <tr>
        <td mat-cell *matCellDef="let row">
        </td>
      </tr>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
 -->

