<table #matTable mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <th mat-cell *matCellDef="let element">{{element.name}}</th>
  </ng-container>

  <ng-container matColumnDef="usageDetails">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <th mat-cell *matCellDef="let element">{{element.usageDetails}}</th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<form [formGroup]="databaseFormGroup" (ngSubmit)="onSubmit()">
    <div class="label">Subset</div>
      <div>
        <mat-form-field appearance="fill" class="no-label-field" style="width:30%">
          <input formControlName="name" matInput placeholder="Add new subset" maxlength="50">
          <mat-error *ngIf="databaseFormGroup.controls['name'].invalid">Please enter a subset</mat-error>
        </mat-form-field>
          <mat-icon>mode_edit</mat-icon>
          <mat-icon>delete_outline</mat-icon>
      </div>

      <div class="label">Database name</div>
      <div>
        <mat-form-field appearance="fill" class="no-label-field" style="width:30%">
          <input formControlName="usageDetails" matInput placeholder="Write database name" maxlength="50">
          <mat-error *ngIf="databaseFormGroup.controls['usageDetails'].invalid">Please enter a database Name</mat-error>
        </mat-form-field>
        <mat-icon>mode_edit</mat-icon>
        <mat-icon>delete_outline</mat-icon>
      </div>

      <button mat-button [disabled]="databaseFormGroup.status != 'VALID'" matStepperNext>Next</button>
      <button mat-button>
        Send data
      </button>
</form>


