<div class="container">
  <mat-horizontal-stepper #stepper (selectionChange)="onStepChange($event)">
    <mat-step label="Subset definition">
      <report-subset-form></report-subset-form>
      <div class="stepper-navigation">
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Evaluation criteria">
      <report-criteria-form></report-criteria-form>
      <div class="stepper-navigation">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Template">
        <report-template-form></report-template-form>
        <div class="stepper-navigation">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
    </mat-step>
    <mat-step label="Export">
      <report-export-form></report-export-form>
      <div class="stepper-navigation">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
