<mat-horizontal-stepper #stepper>
        <mat-step label="Database definition">
            <report-database-form></report-database-form>
        </mat-step>
        <mat-step label="Evaluation criteria">
            <report-criteria-form></report-criteria-form>
        </mat-step>
        <mat-step label="Template">
            <report-template-form></report-template-form>
        </mat-step>
        <mat-step label="Export">
            <report-export-form></report-export-form>
        </mat-step>
</mat-horizontal-stepper>