
<form [formGroup]="criteriaFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-select [(value)]="selected">
        <mat-option 
          value="edu.cornell.library.scholars.webapp.controller.api.distribute.file.FileDistributor">
          File Distributor
        </mat-option>
    
        <mat-option
          value="edu.cornell.library.scholars.webapp.controller.api.distribute.examples.HelloDistributor">
          Hello Distributor
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <button mat-raised-button color="primary" type="submit">Add distributor</button>
  </form>


